<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Aide</title>
        <link th:href="@{css/help.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Page d'aide</h1>
        <hr/>
        <table>
            <thead>
            <tr>
                <th scope="col">URL</th>
                <th scope="col">METHODE ATTENDUE</th>
                <th scope="col">ACTION</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="3">Table des matières</td>
            </tr>
            </tfoot>
            <tbody>
            <tr>
                <th scope="row">/</th>
                <td>GET</td>
                <td>Retourne la page d'accueil</td>
            </tr>
            <tr>
                <th scope="row">/help</th>
                <td>GET</td>
                <td>Retourne la page d'aide</td>
            </tr>
            <tr>
                <th scope="row">/cv24/resume/xml</th>
                <td>GET</td>
                <td>Retourne la liste les CV stockés dans un flux XML</td>
            </tr>
            <tr>
                <th scope="row">/cv24/resume</th>
                <td>GET</td>
                <td>Retourne la liste des CV stockés dans un format HTML</td>
            </tr>
            <tr>
                <th scope="row">/cv24/html?id={id}</th>
                <td>GET</td>
                <td>Retourne le détail d'un CV dont l'identifiant est {id} au format HTML</td>
            </tr>
            <tr>
                <th scope="row">/cv24/xml?id={id}</th>
                <td>GET</td>
                <td>Retourne le détail d'un CV dont l'identifiant est {id} dans un flux XML</td>
            </tr>
            <tr>
                <th scope="row">/insert</th>
                <td>POST</td>
                <td>Ajoute un CV dans la base selon un flux XML, conforme au schéma XSD</td>
            </tr>
            <tr>
                <th scope="row">/delete</th>
                <td>DELETE</td>
                <td>Suppression du CV dont l'identifiant est {id}, retourne un flux XML</td>
            </tr>
            </tbody>
        </table>
    </body>
</html>
