<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Accueil</title>
        <link th:href="@{css/index.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Accueil</h1>
        <hr/>
        <p><span>Nom du projet :</span> CV24</p>
        <p><span>Numéro de version :</span> 1</p>
        <p><span>Membres de l'équipe :</span></p>
        <ul>
            <li>SAPIN Robin</li>
            <li>THIBERVILLE Malvina</li>
        </ul>
        <img th:src="@{images/logo-univ.jpg}" alt="Logo Université de Rouen"/>
        <br/>
        <a href="/help">Direction la page d'aide</a>
    </body>
</html>
